<?xml version = "1.0" encoding = "UTF-8"?>
<suite name = "OMS">

    <test name = "OMS">
        <packages>
        <package name = "webtest.*"/>
        </packages>

        <listeners>
            <listener class-name="org.uncommons.reportng.HTMLReporter" />
            <listener class-name="report.realtime.listener.RealTimeTestResultListener"/>
        </listeners>
    </test>
</suite>